.alert{
    margin-top: 5px;
    margin-bottom: 0;
}

#actual-pass {
    margin-top: 10px;
}
.guardar-canvis{
    margin-top: 5px;
    width: 100%;
}
.boto-paleta-fons {
    background: white !important;
    border: 1px solid #ccc !important;
    border-radius: 4px;
}
.sp-preview {
    width: 100% !important;
    height: 100% !important;
}
.sp-container{
    background: white !important;
    border: 1px solid #ccc !important;
    border-radius: 4px;

}
.sp-dd { /* Fa que no es mostri la fletxa del colorpicker */
    display: none;
}
