*
{
    margin: 0;
    padding: 0;
}
body
{
    /*background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;*/
    background-color: #688A67;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/* nav: */
.navegador {
    margin: 0;
    border-radius: 0;
}

body
{
    /*background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;*/
    background-color: #688A67;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.form
{
    width: 250px;
    margin: 0 auto;
}
.form div.missatge {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}
.form.config input[class="bonic"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

.form.config input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.form.config input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

.form.config .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
.form.config .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form.config label, form.config a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.form.config a
{
    transition: color 0.5s ease;
}

.form.config a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 10px;
    left: 45%;
}