*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #FFF;
    padding: 0;
    margin: 0;
}
/* nav: */
.navegador {
    margin: 0;
    border-radius: 0;
}

.icones {
    width: 25px;
    height: 25px;
}

.contenidor {
    height: calc(100vh - 52px); /* El valor de resta ha de ser el mateix al height de .navegador */
    width: 100%;
}

.contenidor .esquerra {
    height: inherit;
    width: 200px;
    float: left;
    /*background-color: #607D8B;*/
}
.esquerra .panel {
    height: 100%; 
    margin:0; 
    border-radius:0;
    overflow:auto;
}
.panel-xat {
    height: calc(100vh - 102px);
    margin:0; 
    border-radius:0;
    overflow:auto;
}
.contenidor .dreta {
    height: inherit;
    margin-left: 200px;
}
.contenidor .dreta .zonaEnviar {
    height: 50px;
}

.contenidor .dreta .missatgesXat {
    height: calc(100% - 50px);
    width: 100%;
    border-collapse:collapse;
    display: table;
}

#missatges {
    height: 100%;
    max-height: calc(100% - 39px); /* Calc restant: navegador-zonaenviar-titol xat */
    overflow:auto;
    padding-bottom: 0;
    max-width: 100%;
}
/* ANTIC 
.missatges .missatge {
    display : table-row;
    vertical-align : bottom;
    height : 1px;
    width: 100%;
   
}

.missatge .cont {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    border: 1px solid gray;
}
.missatge .cont p {
    padding: 0;
    margin: 0;
}
*/
.panel-missatge {
    margin-bottom: 10px ;
}

.missatge {
    padding-bottom: 0;
    padding-top: 5px;
    padding-right: 3px;
}
.autor, .text, .hora {
    margin: 1px;
}
.autor  {
    word-wrap: break-word;
    max-width: calc(100vw - 270px);
}
.text {
    word-wrap: break-word;
    max-width: calc(100vw - 270px);

}
.hora {
    text-align: right;
    color: gray;
    font-size: 0.8em;
}

.gran-50 {
    height: 50px !important;
}
.no-bordes {
    border-radius: 0 !important;
}
#codi-a-enviar {
    height:calc(100vh - 330px); 
    min-width: 100%;
    max-width: 100%;
}
pre {
    padding: 0;
}